.App {
  text-align: center;
}
.drawer-flex{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.heading{
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
}

.container{
  display: inline-grid;
  justify-content: space-evenly;
      align-items: center;
      justify-items: center;
  margin: 15px;
  }
.hr-line{
  height: 1px;
}
  .full-details{
    gap: 10px;
    border-radius: 10px;
    width: 700px;
    overflow: hidden;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 0.2s;
    box-shadow: 2px 3px 6px 1px rgb(124 124 124);
    height: min-content;
    padding: 15px;
  }
  .div-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    
  }
  .title{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
   display: flex;
   /* font-weight: 600; */
  }
  .title-mar{
    margin: 5px;
  }
  .title-margin{
    margin: 10px;
  }
  .span{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
  }
  .button-date-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .more-details-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 30px;
  }
  .button-back-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }